
:root {
    --main-color: #666;
    --greyed-out: #888;
    --back-color: #fff;
    --holder-back: #eee;
    --faded-txt: rgba(255, 255, 255, 0.5);
    --trans-speed: 0.3s;
    --samp-var: #c30;
}

* {
    box-sizing: border-box;
}

body {
    padding: 0px;
    margin: 0px;
    color: var(--main-color);
    background-color: var(--back-color);
    font-size: 22px;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -epub-hyphens: auto;
    hyphens: auto;
}

#holder {
	position: relative;
	background-color: var(--holder-back);
    margin: auto;
    width: 90%;
    max-width: 700px;
    height: 300px;
    overflow: hidden;
}

#hackbox {
     position: absolute;
     left: 40px;
     top: 0px;
     height: 300px;
}
#heartDiv {
    position:absolute;
    top: 0px;
    left:100px;
    height: 100px;
}

.qr {
    padding: 10px;
    color: rgba(50, 10, 0, 0.95);
}

.qa, .qr {
    transition: color linear var(--trans-speed);
}

.qa:hover{
    color: #000;
    transition: color linear var(--trans-speed);
}

.qa:after {
    content: "";
    display: table;
    clear: both;
}

.qa > div {
    float: left;
    padding: 10px;
    height: auto;
}

.qa > div:nth-child(1) {
  width: 60%;
}

.qa > div:nth-child(2) {
  width: 30%;
  text-align: center;
}

/*possibly a portrait mobi-fone*/
@media screen and (max-width:500px) {
	.qa > div:nth-child(1),
	.qa > div:nth-child(2)
	{
    	width: 90%;
    }

}

/*possibly a mobile landscaper*/
@media screen 
    and (orientation: landscape) 
    and (max-width: 760px) 
    {
    #holder {
        height: 100px;
    }
    #hackbox {
        height: 100px;
    }
    #heartDiv {
        top: -30px;
        left: 20px;
        transform: scale(0.4);
    }
    
}

pre {
    background-color: var(--greyed-out);
    margin: 0px;
    padding: 0px;
    color: #fff;
    overflow: auto;
}
