:root {
    --main-color: #666;
    --greyed-out: #888;
    --back-color: #fff;
    --holder-back: #eee;
    --faded-txt: rgba(255, 255, 255, 0.5);
    --trans-speed: 0.3s;
    --samp-var: #c30;
}

* {
    box-sizing: border-box;
    user-select: none;
}

body {
    padding: 0;
    margin: 0;
    color: var(--main-color);
    background-color: var(--back-color);
    font-size: 22px;
    text-align: justify;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -epub-hyphens: auto;
    hyphens: auto;
}

#holder {
    margin: auto;
    width: 100%;
    overflow: hidden;
    max-width: 700px;
}

#sceneDiv {
    position: relative;
    background-color: var(--holder-back);
    margin: auto;
    width: 100%;
    height: 300px;
}

#hackbox {
     position: absolute;
     left: 40px;
     top: 0px;
     height: 300px;
}

#heartDiv {
    position:absolute;
    top: 0px;
    left:100px;
    height: 100px;
}

#shadow {
    position: absolute;
    left: 40px;
    bottom: 5px;
    height: 5px;
    width: 400px;
    background-color: rgba(70, 30, 0, 0.2);
    border-radius: 50%;
}

#queviva {
    font-family: 'luckiest guy';
    text-align: right;
    bottom: 0px;
    position: absolute;
    width: 100%;
    user-select: none;
    color: rgba(56, 11, 0, 1);
}

.qr {
    padding: 10px;
    color: rgba(50, 10, 0, 0.95);
}

.qa:after {
    content: "";
    display: table;
    clear: both;
}

.qa > div {
    float: left;
    padding: 10px;
    height: auto;
}

.qa > div:nth-child(1) {
  width: 60%;
}

.qa > div:nth-child(2) {
  width: 30%;
  text-align: center;
}

a, a:visited {
    color: #fff;
    text-decoration: none;
}

a:hover {
    color: #fff;
}

/*possibly a portrait mobi-fone*/
@media screen and (max-width:500px) {
	.qa > div:nth-child(1),
	.qa > div:nth-child(2)
	{
    	width: 90%;
    }
    
}

/*possibly a mobile landscaper*/
@media screen and (orientation: landscape) and (max-width: 760px) {
    
    #sceneDiv {
        height: 100px;
    }
    #hackbox {
        height: 100px;
    }
    #heartDiv {
        top: -30px;
        left: 20px;
        transform: scale(0.4);
    }
    #shadow {
        transform: scale(0.5, 0.5);
    }
}

pre {
    background-color: var(--greyed-out);
    margin: 0px;
    padding: 0px;
    color: #fff;
    overflow: auto;
}